<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary-foreground bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"Insights, Analysis, and Performance"</h1>
      <p class="text-xs font-light">
        Explore player and team stats, uncover trends, and make data-driven decisions with our soccer dashboard. 

        <span class="cursor-pointer font-medium text-yellow-400">Elevate</span> your game <span class="cursor-pointer font-medium text-yellow-400">          today.
          </span>Whether you're a coach, analyst, or enthusiast, 
        our dashboard empowers you to unlock the full potential of your team. 
        Join us on the journey to elevate soccer analysis to new heights.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-primary p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md pl-3 font-bold text-foreground"> GarkSport </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
