<div class="chat-container">
    <div class="chat-message user-message">
      <p>Enter Home Team:</p>
      <input type="text" id="homeTeam" [(ngModel)]="homeTeam" class="user-input">
    </div>
    
    <div class="chat-message user-message">
      <p>Enter Away Team:</p>
      <input type="text" id="awayTeam" [(ngModel)]="awayTeam" class="user-input">
    </div>
  
    <div class="chat-message bot-message" *ngIf="prediction">
      <p>Prediction:</p>
      <p>Home Team: {{ prediction.home_team }}</p>
      <p>Away Team: {{ prediction.away_team }}</p>
      <p>Predicted Probability of Home Win: {{ prediction.predicted_prob_home_win }}</p>
      <p>Predicted Probability of Draw: {{ prediction.predicted_prob_draw }}</p>
      <p>Predicted Probability of Away Win: {{ prediction.predicted_prob_away_win }}</p>
    </div>
  
    <button class="submit-button" (click)="getMatchPrediction()">Get Prediction</button>
  </div>
  